recursive-include bci_framework/ *
include CHANGELOG
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude local/ *
recursive-exclude docs/ *
recursive-exclude bci_framework/default_projects/*/captures *
recursive-exclude bci_framework/default_extensions/latency_synchronization_*
