.p300 {

    font-family: 'monospace';
    font-size: 5vh;
    
    height: 90vh;
    width: 50%;
    text-align: center;
    
    margin: 0 auto;
    padding-top: 15vh;
    
    color: white;
    

}


.bci_dashboard button {
    margin: 10px;
}


.p300-char {
    opacity: 0.3;
}

.p300-speller:focus,
.p300-speller {
width: 60%;
margin-left: 20%;
margin-top: 3%;
border: 1px solid white;
padding: 5px;
background-color: black;
color: white;
font-size: 5vh;
text-align: center;
font-family: 'monospace';
letter-spacing: 0.5vh;
position: absolute;
outline: none;

}