.icon_button {{
  font-weight: normal;
}}

QPushButton.connection {{
  padding: 0px;
  margin: 0px;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
  border-radius: 6px !important;
}}
