:root {
  --walk_time: 4s;
}

.cross,
.cross_contrast {
  
  z-index:  999;

}

.bci_dashboard button {
    margin: 10px;
}

.bci_stimuli {
  background: #000000;
  overflow: hidden;
} 
   
.pacman {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f2d648;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index:  99;
}

.pacman__eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
  background: #333333;
}

.pacman__mouth {
  background: #000000;
  position: absolute;
  width: 105%;
  height: 105%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  
  animation-name: eat;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  
}


@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

.food {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
}

.pacman__food {
  position: absolute;

  top: 40%;
  left: 120px;
  animation-name: food;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  
}

.pacman__tail {
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 25px;
  right: 100px;
  background: #000000;
  z-index:  70;
}

@keyframes food {
  0% {
    transform: translateX(0);
      opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}



.pacman-walk_right {
  animation-name: walk_right_frames;
  animation-duration: var(--walk_time);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  }
  
  
.pacman-walk_left {
  animation-name: walk_left_frames;
  transform: scale(-1, 1);  
  animation-duration: var(--walk_time);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  }  
  
  
.pacman-walk_top {
  transform: rotate(-90deg);
  animation-name: walk_top_frames;
  animation-duration: var(--walk_time);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  }  
  
  
.pacman-walk_bottom{
  transform: rotate(90deg);
  animation-name: walk_bottom_frames;
  animation-duration: var(--walk_time);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  
  }



@keyframes walk_right_frames {
  0% {
    left: calc(50% - 50px);
  }
  25% {
    left: calc(50% - 50px);
  }
  100% {
    left: 100%;
  }
}

@keyframes walk_left_frames {
  0% {
    left: calc(50% - 50px);
  }  
  25% {
    left: calc(50% - 50px);
  }
  100% {
    left: -100px;
  }
}

@keyframes walk_top_frames {
  0% {
    top: calc(50% - 50px);
  }  
  25% {
    top: calc(50% - 50px);
  }
  100% {
    top: -100px;
  }
}

@keyframes walk_bottom_frames {
  0% {
  top: calc(50% - 50px);
  }  
  25% {
  top: calc(50% - 50px);
  }
  100% {
    top: 100%;
  }
}
