ipython==6.4.0
ipykernel
nbsphinx
sphinxcontrib-bibtex
pygments>=2.4.1
mne==0.22.0
scipy==1.6.1
simple_pid==1.0.0
numpy==1.20.1
cycler==0.10.0
kafka_python==2.0.2
qt_material==2.8
matplotlib==3.3.4
tornado==6.1
seaborn==0.11.1
psutil==5.8.0
figurestream==1.1
gcpds==0.1a1
openbci_stream==1.0.0rc1
PySide2==5.15.2
radiant==3.1
